<nav class='w-64 bg-white shadow-lg p-4 space-y-4'>
  <h2 class='text-xl font-semibold'>Hodous Tools</h2>
  <ul class='space-y-2'>
    <li>
      <a href='/' class='block text-blue-600 hover:underline'>Dashboard</a>
    </li>
    <li>
      <a href='/projects' class='block text-gray-700 hover:underline'
        >Projects</a>
    </li>
    <li>
      <a href='/invoices' class='block text-gray-700 hover:underline'
        >Invoices</a>
    </li>
  </ul>
</nav>
