---
import '../styles/tailwind.css';
import '../styles/global.css';
import '../styles/themes/dark-theme.css';
import Sidebar from '../components/Sidebar.astro';
---

<html lang='en' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Dashboard</title>
  </head>
  <body>
    <div class='relative min-h-screen bg-black text-white m-0 p-0'>
      <div class='fixed top-0 left-0 h-full w-64 z-50'>
        <Sidebar />
      </div>
      <main class='ml-64 p-0 m-0'>
        <slot />
      </main>
    </div>
  </body>
</html>
