---
import GoogleCalendarView from '../components/GoogleCalendarView.astro';
---

<html lang='en'>
  <head>
    <title>Calendar</title>
  </head>
  <body class='bg-neutral-900 min-h-screen p-6'>
    <GoogleCalendarView />
  </body>
</html>
